.btn {
    background: $main-color;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: none;
    font-family: FuturaDemiC;
    font-size: rem(13);
    line-height: rem(15);
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    &:hover {
        filter:hue-rotate(50deg);
        transition: all 0.5s;
    }

    &_clear:hover {
        
        &:after {
            content:'';
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            animation: btn 0.5s forwards;
        }
        
    }
}