.control {
    --ctrl-mt: -324px;
    text-align: center;
    margin-top: var(--ctrl-mt);

    &__title {
        position: relative;
    }

    &__ico {
        position: relative;
        margin-top: 13px;
        max-width: 33px;
        height: 28px;
        left: 50%;
        transform: translateX(-50%);
        background: url('../icons/camera.svg') no-repeat;
        @include before-after-line;
    }

    &__video {
        margin: 0 auto;
        position: relative;
        margin-top: 31px;
        width: 772px;
        height: 434px;
        background: url(../img/control/preview_video.jpg) no-repeat center/ cover;

        iframe {
            width: 100%;
            height: 100%;
        }

        &-play {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: $main-color;
            box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
            width: 85px;
            height: 85px;
            border-radius: 50%;

            img {
                width: 28px;
                height: 28px;
                transform: translateX(10%);
            }

            &:hover {
                cursor: pointer;
            }

        }

    }

    &__divider {
        margin: 0 auto;
        margin-top: 63px;
        width: 55px;
        height: 2px;
        background-color: $main-color;
    }
    
    &__descr {
        margin: 0 auto;
        margin-top: 34px;
        width: 681px;
        font-family: FuturaBookC;
        font-size: rem(20);
        line-height: rem(34);
        color: #363636;
    }

    &__form {
        position: relative;
        margin-top: 91px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 58px;
    }

    &__btn {
        font-size: rem(15);
        line-height: rem(26);
        width: 200px;
        height: 51px;
    }

    &__input {
        width: 231px;
        position: relative;

        label {
            position: absolute;
            line-height: rem(20);
            color: rgba(54, 54, 54, 0.5);
            top: 0;
            left: 0;
            transform: translateY(-100%);
        }

        input {
            border: none;
            border-bottom: 1px solid rgba(54, 54, 54, 0.3);
            font-size: rem(18);
            line-height: rem(24);
            width: 100%;
            color: #363636;
            padding-bottom: 4px;

            &:focus {
                outline: none;
            }

            &::placeholder {
                font-size: rem(18);
                line-height: rem(24);
                color: #363636;
            }

        }

    }

    &__processing-personal-data {
        position: absolute;
        bottom: -39px;
        left: 50%;
        transform: translate(-50%, 50%);

        label {
            position: absolute;
            color: red;
            opacity: 0.8;
            user-select: none;
            right: -271px;

        }
        
    }

}