header {
    background-color: #131313;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 83px;
    &__logo {
        font-family: FuturaDemiC;
        text-transform: uppercase;
        color: $main-color;
    }
    &__nav {
        margin-left: rem(28);
        &-list {
            display: flex;
            list-style-type: none;
        }
        &-item {
            padding-right: rem(47);
            &:first-child {
                a {
                    color: $main-color;
                }
            }
            &:last-child {
                padding-right: 0;
            }
            a {
                color: white;
                font-size: rem(14);
                line-height: rem(16);
            }
        }
    }
    &__contacts {
        &-phone {
            font-family: FuturaDemiC;
            text-decoration-line: underline;
            color: $main-color;
            margin-right: rem(45);
        }
        &-btn {
            width: rem(161);
            height: rem(37);
        }
    }
}
