.projects {
    --const-added: 120px;
    --descr-width: 442px;
    --content-gap: 50px;
    --width-slide: 679px;
    --width-slider: calc(var(--container-width) - var(--descr-width) - var(--content-gap) + var(--const-added));
    --pos-arrow: calc((var(--width-slider) - 21px - var(--width-slide)) / 2);
    position: relative;
    min-height: 1074px;
    background: url('../img/projects/bg_completed-projects.png') no-repeat center/100% 100%;
    padding: 107px 0 415px 0;
    &__header {
        position: absolute;
        width: var(--descr-width);
        top: 177px;
    }
    &__title {
        position: relative;
        text-align: left;
        width: rem(180);
        &:after {
            content: '';
            position: absolute;
            width: rem(92);
            height: 1px;
            left: 90%;
            bottom: 24%;
            background-color: $main-color;
        }
    }
    &__subtitle {
        margin-top: rem(34);
        font-size: 18px;
        line-height: 29px;
    }
    &__tabs {
        position: relative;
    }
    &__tabs-name {
        display: flex;
        list-style-type: none;
        padding-left: calc(var(--descr-width) + var(--content-gap));
        gap: rem(60);
    }
    &__tab {
        font-family: Yeseva One;
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;
        opacity: 0.3;
        &:hover {
            cursor: pointer;
        }
        &_active {
            opacity: 1;
            &:hover {
                cursor: default;
            }
            div {
                color: $main-color;
                border-bottom: 1px solid $main-color;
            }
        }
    }
    &__content {
        display: none;
        gap: var(--content-gap);
        margin-top: rem(53);
        &_active {
            display: flex;
        }
    }
    &__descr {
        min-width: var(--descr-width);
    }
    &__wrapper {
        margin-top: rem(228);
        display: grid;
        grid-template: repeat(2, minmax(52px, auto))/repeat(2, 1fr);
        grid-auto-rows: minmax(52px, auto);
        gap: rem(30);
    }
    &__info-name {
        font-family: Yeseva One;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        text-transform: uppercase;
        color: $main-color;
    }
    &__info-descr {
        margin-top: rem(9);
        line-height: rem(20);
    }
    &__preview {
        width: var(--width-slider);
    }
    &__nav {
        position: absolute;
        display: flex;
        gap: 18px;
        align-items: center;
        bottom: 0;
        span {
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.3);
            &:hover {
                cursor: pointer;
            }
            &.active {
                background: rgba(255, 255, 255, 1);
                &:hover {
                    cursor: default;
                }
            }
        }
        &-left {
            width: 42px;
            height: 24px;
            background: url('../icons/arrow.svg') no-repeat calc(50% - 1px);
            margin-right: 11px;
            &:hover {
                cursor: pointer;
            }
        }
        &-right {
            width: 42px;
            height: 24px;
            transform: rotate(180deg);
            background: url('../icons/arrow.svg') no-repeat calc(50% - 1px);
            margin-left: 11px;
            &:hover {
                cursor: pointer;
            }
        }
        
    }
}
.slick-slide {
    margin-right: 21px;
    img {
        width: var(--width-slide);
    }
}
.slick-arrow {
    position: absolute;
    top: 50%;
    right: var(--pos-arrow);
    width: rem(55);
    height: rem(55);
    background: $main-color;
    box-shadow: 0px 0px 15px rgba(227, 184, 115, 0.5);
    transform: translate(50%, -50%) matrix(-1, 0, 0, 1, 0, 0);
    border-radius: 50%;
    border: none;
    &:focus {
        outline: none;
    }
}
.slick-next {
    img {
        transform: rotate(180deg) translateX(-10%);
    }
}