.promo {
    min-height: 707px;
    --margin-left-bg: calc((100vw - var(--container-width) - 17px) / 2);
    padding: 147px 0 208px 0;    
    background: url(../img/bg_promo.jpg) no-repeat var(--margin-left-bg) top/ calc(100% - var(--margin-left-bg));
    background-color: #131313;
    &__wrapper {
        width: rem(580);
        padding-left: rem(60);
    }
    &__divider {
        width: rem(519);
        height: rem(34);
        background: #C4C4C4;
    }
    h1 {
        margin-top: rem(13);
        font-family: Yeseva One;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 53px;
        text-transform: uppercase;
        span {
            font-family: Yeseva One;
            font-style: normal;
            font-weight: normal;
            font-size: 40px;
            line-height: 53px;
            text-transform: uppercase;
            color: #E3B873;
        }
    }
    &__descr {
        margin-top: rem(19);
        width: rem(470);
        font-size: 22px;
        line-height: 30px;
    }
    &__btns {
        margin-top: rem(41);
    }
    &__btn-calc {
        position: relative;
        width: rem(207);
        height: rem(51);
        margin-right: rem(20);
        &:before {
            content: '';
            position: absolute;
            width: 1px;
            height: 61px;
            background: #C4C4C4;
            right: -12px;
            top: -5px;
        }
    }
    &__btn-submit {
        width: rem(207);
        height: rem(51);
        border: 1px solid #FFFFFF;
        background: none;
        box-shadow: none;
    }
}